Repository Hasnep/roc-units: changes, and which pre-commit hooks are due for each by the changed paths.
All: roc-format, python-format, python-lint, python-type-check, python-sort, toml-format, yaml-format, markdown-format, github-workflows-check, nix-format

.pre-commit-config.yaml:

repos:
  # General checks
  - repo: local
    hooks:
      - name: Prevent committing to main
        id: no-commit-to-branch
        language: system
        entry: no-commit-to-branch
        args: [--branch, main]
        pass_filenames: false
      - name: Make sure files end with a newline character
        id: end-of-file-fixer
        language: system
        entry: end-of-file-fixer
        types: [text]
      - name: Remove trailing whitespace
        id: trailing-whitespace-fixer
        language: system
        entry: trailing-whitespace-fixer
        types: [text]
      - name: Check for files that would conflict on case-insensitive filesystem
        id: check-case-conflict
        language: system
        entry: check-case-conflict
      - name: Check for merge conflicts
        id: check-merge-conflict
        language: system
        entry: check-merge-conflict
      - name: Check executable files have a shebang
        id: check-executables-have-shebangs
        language: system
        entry: check-executables-have-shebangs
        types: [executable]
      - name: Check scripts with a shebang are executable
        id: check-shebang-scripts-are-executable
        language: system
        entry: check-shebang-scripts-are-executable
      - name: Don't allow adding large files
        id: check-added-large-files
        language: system
        entry: check-added-large-files

  # Roc
  - repo: local
    hooks:
      - name: Lint Roc files
        id: roc-lint
        language: system
        entry: roc check
        args: [src/main.roc]
        pass_filenames: false
      - name: Format Roc files
        id: roc-format
        language: system
        entry: roc format --check
        files: \.roc$

  # Python
  - repo: local
    hooks:
      - name: Format Python files
        id: python-format
        language: system
        entry: ruff format
        types: [python]
  - repo: local
    hooks:
      - name: Lint Python files
        id: python-lint
        language: system
        entry: ruff check --fix
        types: [python]
  - repo: local
    hooks:
      - name: Type-check Python files
        id: python-type-check
        language: system
        entry: basedpyright
        types: [python]
  - repo: local
    hooks:
      - name: Sort Python files
        id: python-sort
        language: system
        entry: ssort
        types: [python]

  # TOML
  - repo: local
    hooks:
      - name: Format TOML files
        id: toml-format
        language: system
        entry: toml-sort --all --in-place
        types: [toml]

  # YAML
  - repo: local
    hooks:
      - name: Format YAML files
        id: yaml-format
        language: system
        entry: prettier --write
        types: [yaml]

  # Markdown
  - repo: local
    hooks:
      - name: Format markdown files
        id: markdown-format
        language: system
        entry: prettier --write
        types: [markdown]

  # GitHub Actions
  - repo: local
    hooks:
      - name: Validate GitHub Actions workflow files
        id: github-workflows-check
        language: system
        entry: check-jsonschema
        args: [--builtin-schema, vendor.github-workflows]
        types: [yaml]
        files: \.github/workflows/.*\.ya?ml$

  # Nix
  - repo: local
    hooks:
      - name: Format Nix files
        id: nix-format
        language: system
        entry: nixfmt
        types: [nix]

  # Codegen
  - repo: local
    hooks:
      - name: Run codegen
        id: codegen
        language: system
        entry: python3 codegen.py
        pass_filenames: false

Add support for hyphens in unit names
  codegen.py
Due: python-format, python-lint, python-type-check, python-sort

Add hyphen to pound-force
  data/conversion-factors.toml
  data/units.toml
  src/Quantity.roc
Due: roc-format, toml-format

Add the foot pound-force unit
  data/conversion-factors.toml
  data/test-cases.toml
  data/units.toml
  src/Convert.roc
  src/Quantity.roc
Due: roc-format, toml-format

Fix the definition of a pound-force
  data/conversion-factors.toml
  data/test-cases.toml
  src/Convert.roc
Due: roc-format, toml-format

Add electrical units
  codegen.py
  data/conversion-factors.toml
  data/test-cases.toml
  data/units.toml
  src/Convert.roc
  src/Quantity.roc
Due: roc-format, python-format, python-lint, python-type-check, python-sort, toml-format

Support Roc v0.0.0-alpha2
  .github/workflows/bundle.yaml
  .github/workflows/generate-docs.yaml
  .github/workflows/test.yaml
  codegen.py
  data/conversion-factors.toml
  examples/height.roc
  examples/song.roc
  flake.lock
  flake.nix
  src/Convert.roc
  src/Quantity.roc
Due: roc-format, python-format, python-lint, python-type-check, python-sort, toml-format, yaml-format, github-workflows-check, nix-format

Replace magic-nix-cache-action
  .github/workflows/run-pre-commit.yaml
Due: yaml-format, github-workflows-check
